@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --athar-black: #0d0e0e;
  --athar-yellow: #ffe92c;
  --athar-blue: #1a27c9;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 180 4% 5%;
    --card: 0 0% 100%;
    --card-foreground: 180 4% 5%;
    --popover: 0 0% 100%;
    --popover-foreground: 180 4% 5%;
    --primary: 234 77% 44%;
    --primary-foreground: 0 0% 100%;
    --secondary: 54 100% 63%;
    --secondary-foreground: 180 4% 5%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 54 100% 63%;
    --accent-foreground: 180 4% 5%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 214.3 31.8% 91.4%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 180 4% 5%;
    --foreground: 0 0% 100%;
    --card: 180 4% 5%;
    --card-foreground: 0 0% 100%;
    --popover: 180 4% 5%;
    --popover-foreground: 0 0% 100%;
    --primary: 54 100% 63%;
    --primary-foreground: 180 4% 5%;
    --secondary: 234 77% 44%;
    --secondary-foreground: 0 0% 100%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 234 77% 44%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 54 100% 63%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-['Manrope'];
  }
}